@import url(../lib/styles/loader_ring.css);

body {
  padding: 15px;
  min-width: 360px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.text-black {
  color: #343a40;
}

.container {
  /* padding: 0; */
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.title-wrapper img {
  margin-right: 6px;
  width: 24px;
  height: 24px;
  object-fit: scale-down;
}

.divider {
  margin-top: 14px;
  height: 1px;
  background-color: #eaecef;
}

.content-wrapper {
  margin-top: 24px;
}

.token-wrapper .mb-3 {
  margin-bottom: 4px !important;
}

.create-token-wrapper {
  padding-left: 8px;
  font-size: 12px;
  color: #a0a0a0;
}

.create-token-wrapper a {
  text-decoration: none;
  text-decoration: underline;
  color: #a0a0a0;
}

.verifying-token {
  display: flex;
  justify-content: center;
}

.main-container {

}

.main-container .user-wrapper {
  display: flex;

}

.main-container .user-wrapper .avatar-wrapper {
  display: inline-block;
  width: 60px;
  height: 60px;
}

.main-container .user-wrapper .avatar-wrapper .avatar {
  width: 100%;
  border: 1px solid #e1e4e8;
  border-radius: 2px;
}

.main-container .user-wrapper .description {
  display: flex;
  flex-direction: column;
  margin-left: 18px;
}

.main-container .user-wrapper .username {
  display: inline-block;
  font-size: 20px;
}

.logout-button {
  display: inline-block;
  margin-top: 4px;
  color: #777777;
  font-size: 13px;
}

.logout-button:hover {
  cursor: pointer;
}

.activity-container {
  margin-top: 24px;
}

.activity-container .activity-wrapper .activity-title {
  color: #a0a0a0;
  font-size: 13px;
}

.activity-container .activity-wrapper .activity-contents-wrapper {
  height: 270px;
  overflow-y: scroll;
  border: 1px solid #e2e4e9;
}

.activity-content-wrapper {
  font-size: 13px;
  padding: 8px;
  border-top: 1px solid #e2e4e9;
}

.activity-content-wrapper:hover {
  background-color: #f6fbff;
}

.activity-content-wrapper:first-child {
  border-top: 0;
}

.activity-row {
  display: flex;
}

.activity-icon-wrapper {
  display: inline-flex;
  justify-content: center;
  width: 16px;
}

.activity-description {
  display: inline-block;
  margin-left: 8px;
}

.action {
  /* max-width: 230px; */
  white-space: nowrap;
  /* overflow: scroll; */
}

.action .comment-text-wrapper {
  color: #777777;
}

.time-stamp {
  font-size: 10px;
  color: #a0a0a0;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  font-size: 70%
}

.footer-wrapper .version {
  color: #777777;
}
